*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maindiv{
    /* height: auto; */
    width: 100vw;
}
.div1{
    display: flex;

}
.div1 div{
    
    width: 50%;
}


.div2{
    display: flex;

}
.div2 div{
    width: 50%;
}

.div3{
    display: flex;
    width: 100%;
    
}
.div3>div{
    
    width: 70%;
    
}







.container{
     
    background-color: black;
    padding-top: 50px;
}
.dataa{
    height: 90%;
    width: 70%;
    margin: 0 auto;
   
}